label {
  font-size: 26px;
  text-align: left;
}

input {
  font-size: 22px;
  width: 70%;
  color: black;
}

textarea {
  font-size: 22px;
  width: 70%;
  color: black;
}

.btn-primary {
  font-size: 32px;
  margin: 10px;
  border: 2px dotted black;
  width: 50%;
  height: 20%;
}

.rainbow {
  background: linear-gradient(270deg, #0f8a6b, #28a70c, #cad70d, #d73b0d, #d70dc6);
  background-size: 1000% 1000%;
  animation: AnimationName 11s ease infinite;
}

@keyframes AnimationName {
  0% {
      background-position: 96% 0%
  }
  50% {
      background-position: 5% 100%
  }
  100% {
      background-position: 96% 0%
  }
}
