header {
  background-color: rgba(70, 79, 81, 1);
  background-image: linear-gradient(45deg, rgba(70,79,81,1), rgba(250,250,250,.4), rgba(70,79,81,1));
  color: white;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.7);
}

.logo {
  width: 30%;
  height: auto;
}

@media (max-width: 1024px) {
	.logo {
    width: 60%;
  }

  .container {
    width: inherit;
  }
}

@media (max-width: 768px) {
	.logo {
    width: 90%;
  }
}

@media (max-width: 414px) {
	.logo {
    display: none;
  }

  .col-xs-6 {
    width: 90%;
  }

  .col-xs-5 {
    width: 90%;
  }

  .col-xs-11 {
    width: 90%;
  }
}
